body {
  overflow: hidden; /* Hide scrollbars */
}

video {
  position: absolute;
  width: 15vw;
}

#cursor {
  position: absolute;
  /* cursor: none; */
}

.mainContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
}

.tamagotchiContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tamagotchiFrame {
  position: absolute;
  height: 45vw;
}

.videoFit {
  position: absolute;
  height: 23vw;
}

.frameContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.videoContainer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.feedBox {
  position: absolute;
  left: 15vw;
  top: 5vh;
  right: 75vw;
  bottom: 85vh;
  background-color: #ff0000;
  border-radius: 10px;
}

.feedBox:hover {
  position: absolute;
  left: 15vw;
  top: 5vh;
  right: 75vw;
  bottom: 85vh;
  background-color: #ffff00;
  border-radius: 10px;
}

.playBox {
  position: absolute;
  right: 15vw;
  top: 5vh;
  left: 75vw;
  bottom: 85vh;
  background-color: #0000ff;
  border-radius: 10px;
}

.playBox:hover {
  position: absolute;
  right: 15vw;
  top: 5vh;
  left: 75vw;
  bottom: 85vh;
  background-color: #ffa500;
  border-radius: 10px;
}

.videoSwitch {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
  left: 75vw;
  top: 85vh;
  background-color: #ff00ff;
  border-radius: 10px;
}

.videoSwitch:hover {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
  left: 75vw;
  top: 85vh;
  background-color: #00ff00;
  border-radius: 10px;
}
