body {
  overflow: hidden; /* Hide scrollbars */
}

video {
  position: absolute;
  width: 15vw;
}

video:hover {
  position: absolute;
  width: 15vw;
}


@font-face {
  font-family: sharpie;
  src: url("PermanentMarker-Regular.ttf");
}

#cursor {
  position: absolute;
  /* cursor: none; */
}

#postIt {
  position: absolute;
  height: 20vh;
  width: auto;
}

#postIt:hover {
  position: absolute;
  height: 20vh;
  width: auto;
  /* filter: invert(1);
  filter: drop-shadow(-4px 4px 6px #000000); */
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


.mainContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
}

.tamagotchiContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70vw;
  transform: rotate(-.5deg);
}

.tamagotchiContainer:hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70vw;
}

.tamagotchiContainer:active {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70vw;
  transform: rotate(.3deg);
}


.stickyText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  font-family: sharpie;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

.tamagotchiFrame {
  position: absolute;
  height: 45vw;
}

.videoFit {
  position: absolute;
  height: 23vw;
}


.videoContainer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.feedBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("postit1.png"); */
  position: absolute;
  left: 10vw;
  top: 20vh;
  /* right: 75vw;
  bottom: 85vh; */
  background-color: #ff0000;
  border-radius: 10px;
  transform: rotate(-3deg);
}

.feedBox:hover {
  position: absolute;
  left: 10vw;
  top: 20vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-3deg);
}

.feedBox:active {
  position: absolute;
  left: 10vw;
  top: 20vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-3deg);
  filter: invert(1);
}


.drinkBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 11vw;
  top: 50vh;
  background-color: #ff0000;
  border-radius: 10px;
  transform: rotate(1deg);
}

.drinkBox:hover {
  position: absolute;
  left: 11vw;
  top: 50vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(1deg);
}

.drinkBox:active {
  position: absolute;
  left: 11vw;
  top: 50vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(1deg);
  filter: invert(1);
}

.sleepBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10.3vw;
  top: 80vh;
  background-color: #ff0000;
  border-radius: 10px;
  transform: rotate(-.5deg);
}

.sleepBox:hover {
  position: absolute;
  left: 10.3vw;
  top: 80vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-.5deg);
}

.sleepBox:active {
  position: absolute;
  left: 10.3vw;
  top: 80vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-.5deg);
  filter: invert(1);
}

.poopBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 33vw;
  top: 19vh;
  background-color: #ff0000;
  border-radius: 10px;
  transform: rotate(5deg);
}

.poopBox:hover {
  position: absolute;
  left: 33vw;
  top: 19vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
}

.poopBox:active {
  position: absolute;
  left: 33vw;
  top: 19vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(5deg);
  filter: invert(1);
}


.peeBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 34vw;
  top: 50vh;
  background-color: #ff0000;
  border-radius: 10px;
}

.peeBox:hover {
  position: absolute;
  left: 34vw;
  top: 50vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.peeBox:active {
  position: absolute;
  left: 34vw;
  top: 50vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

.playBox {
  filter: drop-shadow(-6px 6px 6px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 33vw;
  top: 80vh;
  background-color: #ff0000;
  border-radius: 10px;
  transform: rotate(2deg);
}

.playBox:hover {
  position: absolute;
  left: 33vw;
  top: 80vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
}

.playBox:active {
  position: absolute;
  left: 33vw;
  top: 80vh;
  filter: drop-shadow(-5px 5px 5px #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
  filter: invert(1);
}

#eatVideo {
  display: none;
}

#drinkVideo {
  display: none;
}

#sleepVideo {
  display: none;
}

#poopVideo {
  display: none;
}

#peeVideo {
  display: none;
}

#playVideo {
  display: none;
}
